{% extends "index.html" %}
{% block body %}
	
	<body>
		<h4>  What excites me?</h4>
		<p>  I’ve always been passionate about doing works that have direct impact on human health.  In fact, that is the reason I choose to study Legionnaire’s disease for my PhD and tuberculosis for my Postdoc – both diseases are serious public health issues.  During these research years, I found myself really enjoyed analyzing and mining the data.  Uncovering novel insights from data and formulating testable hypothesis for drug development is the most exciting part of my research experiences.  Data analysis and human health are what I’m good at and what I’m passionate about.  I strongly believe a combination of these two is my “thing”.</p>
		<p>   ________________ </p>
		
		<h4>  Project I plan to do: </h4>
		<h4>   “TB or not TB: detect tuberculosis before symptoms hit” </h4>
		<img src="{{ url_for('static', filename = '/img/infection.jpg')}}" alt="The official HTML5 Icon" style="width:300px">

		<p>  <font size="4"> Solution: </font> </p>
		<p> </p>
		<p>  1.   Data collection and understanding: query and combine the following data from TB patient or healthy individuals: a, electronic health record b, daily activity c, personal fitness data from wearables.  Plot collected data to develop initial insights and identify data quality issues.</p>
		<p>  2.	Data preparation: Use pandas to frame data into clean format that can be fed into modeling tools.</p>
		<p>  3.	Modeling: Split data into train and test sets. Train and test different ML models such as random forest, SVM, or Neural net.  Pick the model gives best prediction accuracy, or combine different prediction models to get better performance.</p>
		<p>  4.	Dimension reduction: algorithms such as PCA, LDA, random projections may be used to reduce the dimension of data in order to improve time performance.      </p>
		<p>  5.	Model evaluation: thoroughly test the final model; iterate the learning process to improve prediction accuracy.   </p>
		<p>  6.	Presenting the results as a summary report.  Implement a prediction software that can repeat the whole data mining and disease prediction process.   </p>
		<p> </p>
		<p>  <font size="4"> Objective: </font>  I hope to leverage the power of data analysis to establish an early detection model for tuberculosis. Once established, similar workflow may be used for finding early detection model of other latent diseases such as hepatitis B, heart diseases</p>
	</body>
	
{% endblock %}