{% extends "index.html" %}
{% block body %}
	
	<body>
		<h3>Zhejiang University (Bachelor of Science)</h3>
		<table border='0', style="width:50%">
			<tr>
				<th>Course</th>
				<th>Score</th>
				<th>Credit</th>
			</tr>
			<tr>
				<td>Introduction to Computer Science</td>
				<td>A</td>
				<td>2.0</td>
			</tr>
			<tr>
				<td>Knowledge of Computer</td>
				<td>P</td>
				<td>0.5</td>
			</tr>
						<tr>
				<td>C Programming</td>
				<td>95/100</td>
				<td>3.0</td>
			</tr>
			<tr>
				<td>Algorithm & Data Structure</td>
				<td>94/100</td>
				<td>4.0</td>
			</tr>
			<tr>
				<td>Mathematic Analysis I</td>
				<td>100/100</td>
				<td>4.5</td>
			</tr>
			<tr>
				<td>Mathematic Analysis II</td>
				<td>96/100</td>
				<td>4.5</td>
			</tr>
			<tr>
				<td>Mathematic Analysis III</td>
				<td>88/100</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Linear Algebra I</td>
				<td>81/100</td>
				<td>3.0</td>
			</tr>
			<tr>
				<td>Linear Algebra II</td>
				<td>96/100</td>
				<td>2.0</td>
			</tr>
			<tr>
				<td>Probability and Statistics</td>
				<td>97/100</td>
				<td>3.0</td>
			</tr>
			<tr>
				<td>Complex Variable Functions & Integral Transformation</td>
				<td>90/100</td>
				<td>2.0</td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>

<h3>Purdue University (Ph.D.)</h3>
			<table border='0', style="width:50%">
			<tr>
				<th>Course</th>
				<th>Score</th>
				<th>Credit</th>
			</tr>
			<tr>
				<td>Statistical Methods for Biology</td>
				<td>A</td>
				<td>3.0</td>
			</tr>
		</table>


<h3>Continuing Education</h3>	
<h4>Cornell University</h4> 
<li>Transition to Python</li>
<h4>WASPEC (Washington Software Professionals & Engineers Community)</h4> 
<li>Java Programming</li> 
<li>C# Programming in Details</li>
<li>ASP.NET MVC</li>
<h4>MOOC</h4>
<li>Machine Learning (Udacity & Georgia Tech)</li>
<li>Artificial Intelligence for Robotics (Udacity & Georgia Tech) with certificate</li>
<li>Computer Networking (Udacity & Georgia Tech)</li>
<li>Learn to Program: The fundamentals (Coursera & U of Toronto) with certificate</li>
<li>R Programing (Coursera & John Hopkins University) with certificate</li>
<li>Programming methodology (Stanford Online)</li>
<li>Databases – Data Models (Stanford Online) with certificate</li>
<li>Databases – Querying Relational Databases (Stanford Online) with certificate</li>
<li>Algorithms, Part I (Coursera & Princeton University)</li>
<li>Algorithms, Part II (Coursera & Princeton University)</li>

	</body>
	
{% endblock %}