{% extends "index.html" %}
{% block body %}
	
	<body>
		<p> 1. Python: 2+ years of experience. Familiar with ML and Data analysis packages (numpy, pandas, sklearn, matplot, pybrain, Caffe etc.).  Used for mining 13.5 million heart-rate data measured by Apple Watch and building supervised learning models to detect Atrial fibrillation. Used for analyzing drug screen data and NGS data in research.  Used for several CS courses including Machine Learning, Computer Networks, Artificial Intelligence etc. Used for Kaggle competitions.  Most code can be found here: <a href="https://github.com/livelovelearn?tab=repositories">https://github.com/livelovelearn?tab=repositories</a> </p>
		
		
		<p> 2. Java: 2+ years of experience. Used for several CS courses including Algorithms, Programming Methodology, Software Development Process, and Reinforcement Learning. Used to program several classical small games. Used to build a task manager Android App for the SDP class: <a href=" https://github.com/livelovelearn/Software_Development_Process/tree/master/prj1"> https://github.com/livelovelearn/Software_Development_Process</a>  </p>
		
		
		<p> 3. SQL: Took a Database course (Stanford Online) for learning Relational Algebra and SQL.  Earned a Statement of Accomplishment with a 100% final grade. Used SQLite to store user data when building an Android App.  </p>
		<p> 4. R: Took an R programming course for learning R.</p>
		<p> 5. C#: Took a C# programming course for learning C#.</p>
		<p> 6. Working experience with data analysis tools specific for microarray and NGS data analysis: such as GeneSpring, FastQC, BWA, Bowtie, Samtools.</p>
		<p> </p>
		<p> </p>
		
	</body>
	
{% endblock %}