{% extends "index.html" %}
{% block body %}

<body>
		<a href="https://github.com/lixu0818?tab=repositories">GitHub: https://github.com/lixu0818</a> </p> 
	
	<div>
	<img src="{{ url_for('static', filename = '/img/lixu.jpg')}}" alt="The official HTML5 Icon" style="width:150px">
	</div>
		<div>


		<p>Contact:</p>
		<p> 
		<img src="{{ url_for('static', filename = '/pic/Gmail-Logo.jpg')}}" alt="The official HTML5 Icon" style="width:30px">
		lixu0818@gmail.com
		</p>
	
		
		<p> </p>
		</div>



</body>
	
{% endblock %}