{% extends "index.html" %}
{% block body %}
	
	<body>
		<h3>Kaggle competition: Forest Cover Type Prediction</h3>
			<li>Classify forest cover types using a combined model of multiple supervised learning algorithms</li>
			<li>Final accuracy score ranked 180 out of 1694 teams <a href="https://www.kaggle.com/c/forest-cover-type-prediction/leaderboard">(leaderboard)</a></li>
			<li><a href="https://github.com/lixu0818/Kaggle">Source code</a></li>
				
				<h3>Parallel mutation mapping pipeline</h3>
			<li>A python based workflow for mapping the genomic location of >100,000 mutations from next-generation sequencing data.</li>
			<li><a href="https://github.com/lixu0818/Parallel_mutation_mapping_pipeline">Source code</a></li>
					<h3>Online bookstore: an e-commerce website built with ASP.NET MVC framework</h3>
			<li>An online shop with product gallery, user administration, shopping cart, and payment system</li>
			<li>Built interactive webpage with HTML, CSS, JavaScript and Bootstrap</li>
			<li>Managed the backend data with MySQL database </li>
			<li><a href="https://github.com/lixu0818/Bookstore">Source code</a></li>
					<h3>Personal website: http:// LilyXu.space/</h3>
			<li>Developed using Python Flask web framework</li>
			<li><a href="https://github.com/lixu0818/PersonalWebsite">Source code</a></li>
					<h3>Online games:   </h3>
			<li>classical online games built for Stanford Programming methodology course</li>
			<li>Implemented using Java </li>
			<li><a href="https://github.com/lixu0818/Games">Source code</a></li>

	</body>
	
{% endblock %}