{% extends "index.html" %}
{% block body %}
<body>
<h3>Peer-reviewed Publications</h3>
<p><b>Xu L</b>, Bretscher A. Rapid glucose depletion immobilizes active Myosin-V on stabilized actin cables. Current Biology, 2014 Oct; 24(20): 2471-2479.</p>

<p><b>Xu L</b>, Liu Y. Protein secretion systems in bacterial pathogens. Frontiers in Biology, 2014, 9(6): 437-447</p>

<p>Sun E, Wagner M, Maize A, Kemler D, Garland-Kuntz E, <b>Xu L</b>, Luo ZQ, Hollenbeck P. Legionella pneumophila Infection of Drosophila S2 Cells Induces Only Minor Changes in Mitochondrial Dynamics. PLoS One, 2013 Apr 30;8(4).
</p> 

<p><b>Xu L</b>, Luo ZQ. Cell biology of infection by Legionella pneumophila. Microbes and Infection, 2013 Feb;15(2).</p>

<p><b>Xu L</b>, Shen X, Bryan A, Banga S, Swanson M, Luo ZQ.  Inhibition of host vacuolar H+-ATPase activity by a Legionella pneumophila effector. PLoS Pathogens, 2010 Mar 19;6(3). </p>

<p>Shen X, Banga S, Liu Y, <b>Xu L</b>, Gao P, Shamovsky I, Nudler E, Luo ZQ.  Targeting eEF1A by a Legionella pneumophila effector leads to inhibition of protein synthesis and induction of host stress response. Cellular Microbiology, 2009 Jun;11(6):911-26.  </p>


<h3>Conference Abstracts</h3>
<p><b>Xu L</b>, Bretscher A. Rapid glucose depletion immobilizes active Myosin-V on stabilized actin cables. The 2014 ASCB/IFCB meeting, Philadelphia, PA, Dec, 2014. Poster.</p>

<p><b>Xu L</b>, Bretscher A. Glucose Withdrawal Rapidly Inactivates Myosin-Vs and Reveals a Requirement of ATP for Actin Filament Turnover. Gordon Research Conference. Andover, NH, August, 2014. Poster.</p>

<p><b>Xu L</b>, Bretscher A. Rapid glucose depletion immobilizes active Myosin-V in a rigor state on stabilized actin cables. Keck Biomembrane Symposium. New York, NY, July, 2014. Invited speaker.</p>

<p><b>Xu L</b>, Shen X, Bryan A, Banga S, Swanson M, Luo ZQ. Inhibition of host vacuolar H+-ATPase activity by a Legionella pneumophila effector. 110th ASM general meeting, San Diego, CA, May, 2010. Poster.</p> 

<p><b>Xu L</b>, Shen X, Bryan A, Banga S, Swanson M, Luo ZQ. Inhibition of host vacuolar H+-ATPase activity by a Legionella pneumophila effector. The 7th International Conference on Legionella, Institut Pasteur, Paris, France, October, 2009. Poster.</p>

<h3>Other Academic Activities</h3>
<h4>2014 	      	Table Leader  </h4>
<p>Career Discussion and Mentoring about Extended Postdoc Career Options
American Society for Cell Biology Conference (ASCB), Philadelphia, PA</p> 

<h4>2013-present   Scientific Reviewer for</h4>
<li>Frontiers in Microbiology </li>
<li>Frontiers in Cellular and Infectious Microbiology</li>
<li>Frontiers in Public Health</li>
<li>Frontiers in Medicine</li>
<li>Emerging Microbes and Infections</li>
</body>



{% endblock %}