{% extends "index.html" %}
{% block body %}
	
	
	
	
	
	<body>
		<!--<video width="320" height="240" controls>
  		<source src="Movie_S7.mp4" type="video/mp4">
		Your browser does not support the video tag.
		</video>-->
		<p>All eukaryotic cells are polarized, requiring organelles and protein complexes to be actively transported to their proper destinations along the cytoskeleton. When nutrients are abundant, budding yeast grows rapidly by delivering secretory vesicles for localized growth and actively segregating organelles. This is mediated by myosin-Vs transporting cargos down oriented F-actin bundles known as actin cables. Actin cables are dynamic structures regulated by assembly, stabilization and disassembly. Polarized growth and actin filament dynamics consumes energy. For most organisms, glucose is the preferred energy source and generally represses alternative carbon source usage. Thus upon abrupt glucose depletion, yeast shuts down pathways consuming large amounts of energy before alternative carbon sources can be metabolized.</P>
<img src="{{ url_for('static', filename = '/img/slider.jpg')}}" alt="The official HTML5 Icon" style="width:260px">
<p><b>Starvation stress response in budding yeast.</b></p>
</br>
		<p> Here we show that glucose withdrawal rapidly (within 1min) depletes ATP levels and the yeast myosin V (Myo2) responds by relocalizing to actin cables, making it the fastest response known. Myo2 immobilized on cables releases its secretory cargos, defining a new rigor-like state of myosin-V in vivo. In addition, glucose depletion has differential effects on the actin cytoskeleton resulting in disassembly of actin patches with concomitant inhibition of endocytosis, and strong stabilization of actin cables, thereby revealing a selective and previously unappreciated ATP requirement for actin cable disassembly. A similar response is seen in HeLa cells to ATP depletion. These findings reveal a new fast-acting energy conservation strategy by immobilizing myosin-V in a newly described state on selectively stabilized actin cables.</p>
<img src="{{ url_for('static', filename = '/img/Hela.jpg')}}" alt="The official HTML5 Icon" style="width:300px">
<p><b>Starvation stress response in human cells.</b></p>
<p>Actin cytoskeleton is labeled by LifeAct-GFP in a HeLa cell. Actin structures are usually highly dynamic and undergo a constant and rapid turnover. Xu and Bretscher find that actin structures are surprisingly stable when cells is deprived of ATP and become resistant to Latrunculin A treatment.</p>	
		
	</body>
	
	
{% endblock %}